# torch==2.0.1
# torchvision==0.15.2
# torchaudio==2.0.2
# https://download.pytorch.org/whl/cu116/torchdistx-0.2.0%2Bcu116-cp310-cp310-manylinux_2_17_x86_64.whl
transformers>=4.31.0
accelerate>=0.21.0
deepspeed>=0.10.1
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
sentencepiece
py7zr
scipy
optimum
mosaicml-streaming
peft